<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-6">
            <div class="background"></div>
        </div>  
        <div class="col-sm-12 col-md-12 col-xl-6 form-content ">
            <div class="background2"></div>
            <h2 class="text-center">You Already Have An Account</h2>
            <h1 class="text-center fw-bold">Log In</h1>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="exampleInputPassword1">
                        <span class="input-group-text" id="basic-addon2"><mat-icon>visibility_off</mat-icon></span>
                    </div>
                    
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Save Your Login Information For This Device</label>
                </div>
                <button type="submit" class="btn Login-btn animatebtn"  routerLink="/accueil">Login</button>
                <button type="submit" class="btn Sign-btn animatebtn"  routerLink="/registerV2">Sign Up </button>
              </form>
        </div>  
    </div>
</div>