<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-6 form-content ">
            <div class="background2"></div>
            <h2 class="text-center">Do not share your information with anyone</h2>
            <h1 class="text-center fw-bold">Sign up</h1>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Full Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Carte d'identité</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="exampleInputPassword1">
                        <span class="input-group-text" id="basic-addon2"><mat-icon>visibility_off</mat-icon></span>
                    </div>
                    
                </div>
                <div class="input-group">
                    <div class="mb-3 form-check">
                        <input type="radio" class="form-check-input" name="R1">Citoyen
                    </div>
                    <div class="mb-3 form-check">
                        <input type="radio" class="form-check-input" name="R1">Travailleur
                    </div>
                </div>    
                <button type="submit" class="btn Sign-btn animatebtn mr-3"  routerLink="/loginV2">Sign Up </button>
                <button type="submit" class="btn Login-btn animatebtn ml-3"  routerLink="/loginV2">Login</button>
                
              </form>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-6">
            <div class="background"></div>
        </div>    
    </div>
</div>