html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* animatetn */
.animatebtn
{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s ease;
}
.animatebtn:hover
{
    transform: scale(1.1);
}

