
<section class="home">
    <app-navbar ></app-navbar>
    <div class="background"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatibus porro aliquid doloremque voluptates, inventore incidunt perspiciatis laboriosam. Perferendis vero suscipit non alias cupiditate accusantium. Ad expedita eum repudiandae et?</h2>
                    <button mat-raised-button color="primary" class="animatebtn downloadbtn1"><mat-icon>keyboard_double_arrow_right</mat-icon>GET STARTED</button>
                    <button mat-raised-button color="basic" class="animatebtn downloadbtn2"><mat-icon>send</mat-icon>DOWNLOAD</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features">
    <h1 class="title">APP FEATURES</h1>
    <div class="cards container">
        <div class="row">
            <div class="col-xl-4 col-md-12 col-lg-12">
                <div class="card">
                    <img src="../../../assets/Images/AmazingRequest.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h2 class="card-title d-flex justify-content-center">Amazing Request Tracking</h2>
                      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary d-flex justify-content-center animatebtn">READ MORE</a>
                    </div>
                  </div>
            </div>
            <div class="col-xl-4 col-md-12 col-lg-12">
                <div class="card">
                    <img src="../../../assets/Images/SoftApp.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h2 class="card-title d-flex justify-content-center">Soft And Smooth Application</h2>
                      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary d-flex justify-content-center animatebtn">READ MORE</a>
                    </div>
                  </div>
            </div>
            <div class="col-xl-4 col-md-12 col-lg-12">
                <div class="card">
                    <img src="../../../assets/Images/FriendlyInteraction.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h2 class="card-title d-flex justify-content-center">Friendly Interaction</h2>
                      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary d-flex justify-content-center animatebtn">READ MORE</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <h1 class="title">ABOUT THE APP</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/Images/About.png" width="100%" height="100%">
            </div>
            <div class="col-sm-12 col-md-6 content">
                <h1>Easy And Perfect Solution For You</h1>
                <h4 class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque repellat facere aut sit est iusto tempore consectetur dolore beatae voluptatem ipsam ex dolores iure explicabo laborum tenetur, assumenda porro labore?</h4>
                <h4 class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque repellat facere aut sit est iusto tempore consectetur</h4>
            </div>
        </div>
    </div>
</section>
<section class="review">
    <h1 class="title">PEOPLE'S REVIEW</h1>
        <div class="cards container">
            <div class="row">
                <div class="col-xl-4 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../../assets/Images/pic1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h2 class="card-title d-flex justify-content-center">Gorgina Wick</h2>
                          <h2 class="card-title d-flex justify-content-center"><mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_outline</mat-icon>
                            <mat-icon>star_outline</mat-icon></h2>
                          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-xl-4 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../../assets/Images/pic2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h2 class="card-title d-flex justify-content-center">john Wick</h2>
                          <h2 class="card-title d-flex justify-content-center"><mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_outline</mat-icon>
                            <mat-icon>star_outline</mat-icon></h2>
                          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-xl-4 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../../assets/Images/pic3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h2 class="card-title d-flex justify-content-center">Gorgina Wick</h2>
                          <h2 class="card-title d-flex justify-content-center"><mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_outline</mat-icon>
                            <mat-icon>star_outline</mat-icon></h2>
                          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
</section>
<section class="pricing">
    <h1 class="title">OUR PRICING PLANS</h1>
        <div class="cards container">
            <div class="row">
                <div class="col-xl-4 col-md-12 col-lg-12">
                    <div class="card" style="border: 1px solid #A5678E;">
                        <div class="card-body">
                          <h2 class="card-title d-flex justify-content-center">Standard</h2>
                          <h2 class="card-title d-flex justify-content-center title2">Free</h2>
                          <div class="card-text text-center"><mat-icon class="check">check</mat-icon>100+ files<br>
                            <mat-icon class="check">check</mat-icon>No Transaction Fees<br>
                            <mat-icon class="clear">clear</mat-icon>Unlimited Storage<br>
                            <mat-icon class="clear">clear</mat-icon>100+ Download</div> 
                            <a href="#" class="btn d-flex justify-content-center animatebtn">CHECKOUT</a>
                        </div>
                      </div>
                </div>
                <div class="col-xl-4 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                          <h2 class="card-title d-flex justify-content-center">Profosional</h2>
                          <h2 class="card-title d-flex justify-content-center title2"><div class="price">$15</div>/Monthly</h2>
                          <div class="card-text text-center"><mat-icon class="check">check</mat-icon>100+ files<br>
                            <mat-icon class="check">check</mat-icon>No Transaction Fees<br>
                            <mat-icon class="check">check</mat-icon>Unlimited Storage<br>
                            <mat-icon class="clear">clear</mat-icon>100+ Download</div> 
                            <a href="#" class="btn d-flex justify-content-center animatebtn">CHECKOUT</a>
                        </div>
                      </div>
                </div>
                <div class="col-xl-4 col-md-12 col-lg-12">
                    <div class="card" style="border: 1px solid #A5678E;">
                        <div class="card-body">
                          <h2 class="card-title d-flex justify-content-center">Ultra Profosional</h2>
                          <h2 class="card-title d-flex justify-content-center title2"><div class="price">$20</div>/Monthly</h2>
                          <div class="card-text text-center"><mat-icon class="check">check</mat-icon>100+ files<br>
                            <mat-icon class="check">check</mat-icon>No Transaction Fees<br>
                            <mat-icon class="check">check</mat-icon>Unlimited Storage<br>
                            <mat-icon class="check">check</mat-icon>100+ Download</div> 
                            <a href="#" class="btn d-flex justify-content-center animatebtn">CHECKOUT</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
</section>
<section class="contact">
    <h1 class="title">CONTACT US</h1>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-12 col-lg-12 content">
                <form class="form">
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" appearance="fill"  color="accent">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput
                                   placeholder="Name">
                          </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" appearance="fill"  color="accent">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput
                                   placeholder="Ex. pat@example.com">
                          </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" appearance="fill"  color="accent">
                            <mat-label>Phone</mat-label>
                            <input type="text" matInput
                                   placeholder="Phone">
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field class="example-full-width" appearance="fill"  color="accent">
                            <mat-label>Message</mat-label>
                            <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
                            <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                          </mat-form-field>
                    </div>
                  </form>
            </div>
            <div class="col-xl-6 col-md-12 col-lg-12">
                <img src="../../../assets/Images/contact.png" width="100%" height="100%">
            </div>    
        </div>
    </div>
</section>
<div class="footer">
    <app-footer></app-footer>
</div>
<router-outlet></router-outlet>